<header class="site-header" role="banner">
  <div class="clearfix container">
      <div class="site-branding">
              
          <h1 class="site-title">
            <a href="http://demo.athemes.com/hiero/" title="Hiero" rel="home">
              Hiero</a>
          </h1>
          <div class="site-description">Just Another aThemes Demo Site</div>
              <!-- .site-branding --></div>

            
      <nav id="main-navigation" class="main-navigation" role="navigation">
        <a href="#main-navigation" class="nav-open">Menu</a>
        <a href="#" class="nav-close">Close</a>
        <div class="clearfix sf-menu">




          <ul class="nmenu sf-js-enabled">
                <% for (var i in theme.menu){ %>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-1663"> <a class="" href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a> </li>
                <% } %>



          <ul id="menu-main-menu" class="menu sf-js-enabled"><li id="menu-item-1663" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1663"><a href="http://demo.athemes.com/hiero/">Home</a></li>

          <li id="menu-item-1664" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1664"><a href="http://demo.athemes.com/hiero/about">About The Tests</a>
            <ul class="sub-menu sf-js-enabled" style="float: none; width: 22.9286em; display: none; visibility: hidden;">
  <li id="menu-item-1665" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1665" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/about/page-image-alignment" style="float: none; width: auto;">Page Image Alignment</a></li>
  <li id="menu-item-1666" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1666" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/about/page-markup-and-formatting" style="float: none; width: auto;">Page Markup And Formatting</a></li>
  <li id="menu-item-1667" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1667" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/about/clearing-floats" style="float: none; width: auto;">Clearing Floats</a></li>
  <li id="menu-item-1668" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1668" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/about/page-with-comments" style="float: none; width: auto;">Page with comments</a></li>
  <li id="menu-item-1669" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1669" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/about/page-with-comments-disabled" style="float: none; width: auto;">Page with comments disabled</a></li>
</ul>
</li>
<li id="menu-item-1670" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1670"><a href="http://demo.athemes.com/hiero/level-1">Level 1</a>
<ul class="sub-menu sf-js-enabled" style="float: none; width: 12em; display: none; visibility: hidden;">
  <li id="menu-item-1671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1671" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/level-1/level-2" style="float: none; width: auto;">Level 2</a>
  <ul class="sub-menu sf-js-enabled" style="left: 12em; float: none; width: 12em; display: none; visibility: hidden;">
    <li id="menu-item-1672" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1672" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/level-1/level-2/level-3" style="float: none; width: auto;">Level 3</a></li>
    <li id="menu-item-1673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1673" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/level-1/level-2/level-3a" style="float: none; width: auto;">Level 3a</a></li>
    <li id="menu-item-1674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1674" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/level-1/level-2/level-3b" style="float: none; width: auto;">Level 3b</a></li>
  </ul>
</li>
  <li id="menu-item-1675" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1675" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/level-1/level-2a" style="float: none; width: auto;">Level 2a</a></li>
  <li id="menu-item-1676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1676" style="white-space: normal; float: left; width: 100%;"><a href="http://demo.athemes.com/hiero/level-1/level-2b" style="float: none; width: auto;">Level 2b</a></li>
</ul>
</li>
<li id="menu-item-1677" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1677"><a href="http://demo.athemes.com/hiero/lorem-ipsum">Lorem Ipsum</a></li>
</ul></div>     
<!-- #main-navigation -->
    </nav>
  </div>









      <!--
    <div id="allheader" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-inner">
          
          <div class="container"> 
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <% if (theme.avatar.enable){ %>
              <a class="brand" style="
                <% if (!theme.avatar.border){ %> border-width: 0px; <% } %> margin-top: <%= theme.avatar.top %>px;"  
                <% if (is_post()){ %>href="#" data-toggle="modal" data-target="#myModal"<% } %> >
                  <img width="<%= theme.avatar.width %>px" height="<%= theme.avatar.height %>px" alt="Hike News" src="<%= config.root %><%- theme.avatar.url %>">
              </a>
            <% } else { %>
              <a class="brand" style="border-width: 0;">
                <p><%= config.title || config.author %></p>
              </a>
            <% } %>
            
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <% for (var i in theme.menu){ %>
                  <li> <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a> </li>
                <% } %>
                  <li><%- partial('search/index') %></li>
            </div>
          </div>
                
      </div>
    </div>
    -->



</header>

<% if (is_current("about", false) && theme.about_big_image){ %>
  <div style="background:#fff;width: 100%;">

      <div style="max-height:600px; overflow: hidden;">
        <img width="100%" alt="Hike News" src="<%- config.root %><%- theme.about_big_image %>">
      </div>

  </div>
<% } %>
